<div class="container">
  <h3>{{selected.title}}</h3>
  <div class="row">
    <div class="col-sm-6">
      <img src="images/projetos/{{selected.image}}" class="img-responsive"/>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>

    </div>
    <div class="col-sm-6">
      <h4>Esse é o trabalho certo para você?</h4>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputNome3" class="col-sm-2 control-label">Nome</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputNome3" placeholder="Nome">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTelefone3" class="col-sm-2 control-label">Telefone</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputTelefone3" placeholder="Telefone">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTelefone3" class="col-sm-2 control-label">Fale um pouco de você para a ONG</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </div>
        <a href="/chat" class="btn btn-primary btn-large">Começar chat com a ONG</a>
        <br>
        <a href="mailto:ong@ong.com.br "class="btn btn-secondary">Enviar E-mail</a>
      </form>
    </div>
  </div>

</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">♥ do Group 12 de HCI</p>
  </div>
</div>
